* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
/* body {
  font-family: "Poppins", sans-serif;
} */
.navbar {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-inline-start: 12%;
}
/* logo */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {
  opacity: 0.7;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.header {
  background: radial-gradient(#fff, rgb(134, 209, 231));
}
.header.row {
  margin-top: 70px;
}
.header.row2 {
  margin-top: 70px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.col-2 {
  flex-basis: 40%;
  min-width: 270px;
  font-family: "Times New Roman", Times, serif;
}
.col-2 img {
  max-width: 50%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  font-family: cursive;
  font-size: 1.5rem;

  background: radial-gradient(#fff, rgb(134, 209, 231));
  border-radius: 10px;

  padding: 20px;

  text-decoration: none;
}
.col-2 h1:hover {
  animation: zoom;
}

/* nipu yadav */

.categories {
  margin: 100px 70px;
}
.categories c {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-style: oblique;
  color: rgb(42, 139, 139);
}
.categories g {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.categories j {
  font-size: 4rem;
  color: #0b7685;
  font-weight: bolder;
  margin-inline-start: 30px;
}
.col-3 {
  flex-basis: 30%;
  min-width: 200px;
  margin-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
}

.col-3 img {
  height: 200px;
  width: 200px;
  border-radius: 20px;

  margin: 4px 4px;
}
.col-3 img:hover {
  opacity: 0.5;
  cursor: pointer;
}
.col-3 a1 {
  margin: 80px;
}

.col-3 a2 {
  margin: 75px;
}
.col-3 a3 {
  margin: 60px;
}
.col-3 a4 {
  margin: 65px;
}
.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* hobbies */

.category c {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  font-style: oblique;
  color: rgb(42, 139, 139);
  margin: 30px;
}

.category s {
  font-weight: bolder;
  font-size: 3rem;
}

.col-5 {
  flex-basis: 30%;
  min-width: 200px;
  margin-bottom: 30px;
  font-family: "Times New Roman", Times, serif;
}
.col-5 img {
  height: 250px;
  width: 200px;
  border-radius: 20px;

  margin: 4px 4px;
}
.col-5 a1 {
  margin: 60px;
}
.col-5 a2 {
  margin: 60px;
}
.col-5 a3 {
  margin: 60px;
}
.col-5 a4 {
  margin: 40px;
}
.col-5 a5 {
  margin: 45px;
}
.col-5 a6 {
  margin: 45px;
}
.col-5 a7 {
  margin: 45px;
}
/* contacts */
#contact img {
  width: 220px;
  height: 100px;
  border-radius: 20px;
}
#contact img:hover {
  opacity: 0.5;
}
#contact-box {
  display: flex;
  /*   justify-content: center;
  align-items: center; */
  padding-bottom: 34px;
}

#contact-box ul a {
  font-size: 13px;
  font-family: "Times New Roman", Times, serif;
}
.h-primary-center {
  font-size: 2rem;
  padding: 15px;
  font-family: cursive;
  margin: 10px;
  text-align: center;
}
.h-primary-center:hover {
  opacity: 0.5;
}
/* about */
.about b {
  font-size: 2rem;
  font-family: cursive;
}
.about a {
  font-size: 20px;
  font-family: cursive;
}
/* footer */
.center {
  text-align: center;
}
footer {
  background: black;
  color: white;
  width: 250px;
  height: 40px;
}
#contact-box a:hover {
  text-decoration: underline;
}
/* button {
  border-radius: 4px;
  padding: 4px;
  align-items: center;
  text-align: center;
   background-color: #ccc; 
  color: #0b7685;
} */
.col-5 img:hover {
  opacity: 0.5;
}
